:root {
  --black: rgb(0, 0, 0);
  --gray: rgb(65, 53, 54);
  --light-brown: rgb(190, 188, 187);
  --violet: rgb(22, 28, 59);
  --light-blue: rgb(0, 67, 156);
}

body {
  font-family: Helvetica, arial, sans-serif;
}

/* header */
header {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 2;
}
header section.logo {
  background-color: var(--black);
}

header section.logo div img.header-logo {
  width: 10%;
}

header section.header-navbar ul {
  font-size: small;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

header section.header-navbar img.lens-icon {
  width: 30px;
}


header section.header-navbar div.justify-content-end ul button {
  border-radius: 50px;
  margin-left: 0.5rem;
}
/* main */
main {
  padding-top: 116px;
}
/* game banner */
section.game-banner {
  height: 70vh;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
