:root {
  --black: rgb(0, 0, 0);
  --gray: rgb(31, 31, 31);
  --light-brown: rgb(190, 188, 187);
  --violet: rgb(22, 28, 59);
  --light-blue: rgb(0, 67, 156);
}

body {
  font-family: Helvetica, arial, sans-serif;
}

/* add bootstrap-rules */
.rounded-4 {
  border-radius: 1.5rem;
}
.fs-1_15 {
  font-size: 1.15rem;
}
.fs-1_3 {
  font-size: 1.3rem;
}
.fs-2_3 {
  font-size: 2.3rem;
}

/* header */
header {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 2;
}
header section.logo {
  background-color: var(--black);
}

header section.logo div img.header-logo {
  width: 10%;
}

header section.header-navbar ul {
  font-size: small;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

header section.header-navbar img.lens-icon {
  width: 30px;
}



header section.header-navbar div  button.acces-btn {
  margin-left: 0.5rem;
  background-color: black;
}
/* main */
main {
  padding-top: 116px;
}
/* game banner */
section.game-banner {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

section.game-banner img.game-logo.returnal {
  width: 59%;
  padding-top: 14em;
}

section.game-banner h2 {
  font-size: 2.84rem;
}
section.game-banner p.game-desc {
  font-size: 1.1rem;
}

section.game-banner button.btn-danger {
  background-color: rgb(205, 61, 15);
  border: 0;
}

/* sm */
@media screen and (min-width: 576px) {
  section.game-banner h2 {
    font-size: 2.49rem;
  }
  section.game-banner p.game-desc {
    font-size: 1rem;
  }
}
/* md */
@media screen and (min-width: 768px) {
  section.game-banner img.game-logo.returnal {
    width: 58%;
  }
  section.game-banner h2 {
    font-size: 2.5rem;
  }
}
/* lg */
@media screen and (min-width: 992px) {
  section.game-banner img.game-logo.returnal {
    width: 20%;
  }
  section.game-banner h2 {
    font-size: 1.9rem;
  }
  section.game-banner p.game-desc {
    width: 38%;
  }
}



/* explore ps5 */
section.explore-ps5 p.attract-buyers {
  color: gray;
  font-size: 1.4rem;
}

section.explore-ps5 h6.smaller-text {
  font-size: 0.8em;
}
@media screen and (min-width: 576px) {
  section.explore-ps5 p.attract-buyers {
    font-size: 1.38rem;
  }
}
@media screen and (min-width: 768px) {
  section.explore-ps5 div.gadget-ps5 {
    justify-content: space-around;
  }
  section.explore-ps5 p.attract-buyers {
    font-size: 1.41rem;
  }
}
@media screen and (min-width: 992px) {
  section.explore-ps5 p.attract-buyers {
    font-size: 1.22rem;
  }
}

/* game banner it takes two */
section.game-banner.it-takes-two {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
section.game-banner.it-takes-two h2 {
  font-weight: 400;
  font-size: 2.7em;
}

section.game-banner.it-takes-two img.it-takes-two {
  width: 58%;
}

@media screen and (max-width: 768px) {
  section.game-banner.it-takes-two img.it-takes-two {
    width: 58%;
    padding-bottom: 3rem!important;
  }
  section.game-banner.it-takes-two h2 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 992px) {
  section.game-banner.it-takes-two h2 {
    padding-right: 12em;
  }
  section.game-banner.it-takes-two img.it-takes-two {
    width: 25%;
  }
}

/* 12 cards */
main section.cards-12 {
  background-color: var(--gray);
  color: white;
}

main section.cards-12 h2 {
  font-size: 2rem;
}

main section.cards-12 p {
  font-size: 1.6rem;
}

main section.cards-12 span.trademark::after {
  content: "\f25c";
  display: inline-block;
  font-size: 0.7em;
}

main section.cards-12 h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 576px) {
  main section.cards-12 p {
    font-size: 1.47rem;
  }
  main section.cards-12 h3 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  main section.cards-12 p {
    font-size: 1.55rem;
  }
  main section.cards-12 h3 {
    font-size: 1.05rem;
  }
}
@media screen and (min-width: 992px) {
  main section.cards-12 p {
    font-size: 1.3rem;
  }
  main section.cards-12 h3 {
    font-size: 0.8rem;
  }
}

/* explore ps4 */
section.explore-ps4 p {
  color: gray;
}

@media screen and (min-width: 992px) {
  section.explore-ps4 p {
    font-size: 1.1rem;
  }
}

/* promo banner ps plus */
main section.promo-banner.psn-plus {
  background-color: var(--light-brown);
  margin-top: 6rem;
}
main section.promo-banner.psn-plus img.logo-psn-plus {
  width: 60%;
  padding-top: 3rem;
}
main section.promo-banner.psn-plus button.light-gray-bg {
  background-color: lightgray;
}

@media screen and (min-width: 576px) {
  section.promo-banner.psn-plus p.fs-1_15 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  main section.promo-banner.psn-plus img.logo-psn-plus {
    padding-top: 1.9rem;
  }
}
@media screen and (max-width: 767px) {
  main section.promo-banner.psn-plus button.light-gray-bg {  
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 992px) {
  main section.promo-banner.psn-plus div.resizing-padding-lg {
    padding: 3rem 0;
  }
}